! ==================================================
! Fonts
! ==================================================

Xft.dpi:       120
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*.font: UbuntuMono Nerd Font Mono:pixelsize=28:antialias=true
st.font: UbuntuMono Nerd Font Mono:pixelsize=28:antialias=true

! ==================================================
! Appearance
! ==================================================

*.alpha: 0.88

*background: #1b1f27
*foreground: #d8dee9

*cursorColor: #7cafc2

*pointerColorBackground: #1b1f27
*pointerColorForeground: #7cafc2

! ==================================================
! Terminal Colors
! ==================================================

*color0:  #282c34
*color1:  #e06c75
*color2:  #98c379
*color3:  #e5c07b

*color4:  #7cafc2
*color5:  #c678dd
*color6:  #56b6c2
*color7:  #d8dee9

*color8:  #5c6370
*color9:  #ff6b6b
*color10: #a9dc76
*color11: #ffd866

*color12: #7cafc2
*color13: #d291e4
*color14: #66d9ef
*color15: #ffffff

! ==================================================
! XTerm
! ==================================================

XTerm*background: #1b1f27
XTerm*foreground: #d8dee9
XTerm*cursorColor: #7cafc2
XTerm*selectToClipboard: true

! ==================================================
! Cursor
! ==================================================

Xcursor.theme: xcursor-breeze
Xcursor.size: 24
